.RecentProjectsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: gainsboro;
  flex-direction: column;
  padding-top: 100px;

}

.ProjectsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  flex: 1;
  align-content: center ;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* grid-auto-rows: 1fr; */
  grid-gap: 1rem;
  padding:0 1rem;
}
