@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.ANShowCaseContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #666;
}
.ANShowCaseContainer::before {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1581092162384-8987c1d64718?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=thisisengineering-raeng-Bg0Geue-cY8-unsplash.jpg");
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

.ProfilePic {
  height: 250px;
  width: 250px;
  background-color: blue;
  background-image: url("../../assets/images/profile.jpg");
  background-position: center center;
  background-size: cover;
  margin-bottom: 2rem;
  animation-name: profilePic;
  animation-duration: 750ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.ANShowCaseContainer > h1 {
  font-family: "Courgette", Arial, Helvetica, sans-serif;
  animation-name: name;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.ANShowCaseContainer > p {
  margin-top: 3rem;
}

@keyframes name {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-15deg);
  }
}
@keyframes profilePic {
  from {
    opacity: 0;
    border-radius: 1rem;
  }
  to {
    opacity: 1;
    border-radius: 50%;
  }
}
